.main-admin-stats {
    width: 100%;
    transition: .3s ease;
    min-height: calc(100vh - $sep-lg - 99px);
    padding: 0 $sep-xs;
    padding-bottom: 110px;

    h1 {
        font-size: 40px;
        text-align: center;
        margin: auto auto $sep-xs auto;
    }

    .info_total {
        margin-bottom: $sep-sm;
    }

    .selects {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: calc($sep-xs - 5px);
        margin-bottom: $sep-xs !important;
    }

    .months_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
            width: 100%;
            gap: 1.5rem;

            &>h3 {
                text-align: center;
                margin: $sep-2xs auto;
                opacity: .5;
            }
        }
    }
}

.main-admin-stats.more_padding {
    padding-bottom: 210px;
}

.main-admin-stats.more_padding_0 {
    padding-bottom: 340px;
}