/* PAGE CURRENCY STYLES */

.main-currency {
    width: 100%;
    padding: 0 $sep-xs;
    padding-bottom: $sep-md;
    max-width: 545px;
    margin: auto;
    
    .btn {

        width: 100%;
    }
}