@media screen and (min-width: 470px) {
    .main-admin-profile {
        padding-left: $sep-xl;   
        padding-right: $sep-xl;       
    }
}


@media screen and (min-width: 768px) {
    .main-admin-profile {
        margin-top: $sep-2xl;
        margin-bottom: $sep-2xl;
        padding: $sep-xs $sep-xl;
        border-radius:$br-lg;
        box-shadow: 2px 5px 10px 0px rgba(33, 33, 32, 0.15);
        
        h1 {
            margin-top: $sep-sm;
            
        }
    }
    .decorate {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .main-admin-profile {
        max-width: 630px;
    }
}

