.popup {
    position: fixed;
    top: 10px;
    width: 90%;
    left: 50%;
    border-radius: $br-sm;
    transform: translateX(-50%);
    right: 0;
    padding: ($sep-2xs + 1px) $sep-xs;
    display: flex;
    justify-content: center;
    align-items: center;    
    column-gap: .5rem;
    transition: opacity .25s ease;
    z-index: 9;

    .msg{
        font-size: 14px;
    }
}

.popup.confirm {
    display: flex;
    flex-direction: column;
    padding: ($sep-2xs + 5px) $sep-xs;
    background-color: $dark;
    border-radius: $br-lg;

    .icon {
        width: 27px;
    }

    &>div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: $sep-xs;

        span {
            color: $red;
            font-size: 15px;
            font-weight: lighter;
        }
    }
    &>div:nth-child(1) {
        margin-bottom: $sep-xs;
    }

    &>div:nth-child(2) {
        justify-content: center;

        display: grid;
        grid-template-columns: 1fr 1fr;

        button.btn {
            border-radius: $br-sm;
        }

        button:not(.btn) {
            background-color: transparent;
            color: $red;
            font-size: 15px;
        }
    }
}

.popup.hidden {
    pointer-events: none;
    opacity: 0;
}

.popup.error {
    background-color: $red;
    color: $light;
}

.popup.success {
    background-color: $green;
    color: $light;
}

.error-msg-container {
    margin-top: $sep-2xs;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 24px;
    }
    p {
        color: $red;
    }
}