.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $sep-2xs;
    background-color: $green;
    border-radius: $br-md;
    color: $light;
    font-size: 15px;
    transition: .25s ease;
} 

.btn:hover {
    background-color: $green_hover;
}

.btn-double-arrow {
    padding-left: $sep-xs;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-warning {
    padding: $sep-2xs + 4px;
    background-color: $red;
}

.btn-warning:hover {
    background-color: $red_hover;
}

.btn.disabled {
    opacity: .5;
    pointer-events: none;
}
