.header-large, .header-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark;
    height: 280px;
    margin-bottom: $sep-xl;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    .title {
        font-size: 45px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light;
        margin-bottom: $sep-xs;
        padding-top: $sep-xl;
    }
}

.header-small {
    max-height: 90px;

    img {
        margin-top: -$sep-sm;
    }
}