/* LINK BASIC STYLES */
.link {
    position: relative;
    color: $green;
    transition: .25s ease;
    cursor: pointer;
}

/* LINK HOVER BASIC STYLES */
.link:hover {
    color: $green_hover;
}

/* LINE IN THE BOTTOM OF TEXT LINK */
.link::after {
    content: "";
    display: block;
    height: 2px;
    width: 25px;
    transition: .25s ease;
    border-radius: 10px;
    background-color: $green;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.link:hover::after {
    width: 100%;
    background-color: $green_hover;
}

.link-warning {
    color: $red;
}

.link-warning:hover {
    color: $red_hover;
}

.link-warning::after {
    background-color: $red;
}

.link-warning:hover::after {
    background-color: $red_hover;
}