/* COLORS */
$light: #ffffff;
$dark: #212120;
$red: #F24949;
$red_hover: #dc2b2b;
$green: #06B26B;
$green_hover: #0b8e57;

/* PADDING AND MARGIN */
$sep-3xs: 5px;
$sep-2xs: 7px;
$sep-xs: 1rem;
$sep-sm: 1.5rem;
$sep-md: 2rem;
$sep-lg: 2.5rem;
$sep-xl: 3rem;
$sep-2xl: 4rem;
$sep-3xl: 5rem;
$sep-auto: auto;

/* FONT SIZE */
$fs-2xs: 17px;
$fs-xs: 1em;
$fs-sm: 1.2em;
$fs-md: 1.4em;
$fs-lg: 1.7em;
$fs-xl: 2em;
$fs-2xl: 2.5em;
$fs-3xxl: 3.5em;
$fs-4xl: 4.2em;
$fs-responsive: 9vw;

/* BORDER RADIUS */
$br-xs: 5px;
$br-sm: 10px;
$br-md: 15px;
$br-lg: 20px;
$br-xl: 30px;
$br-2xl: 50px;
$br-circle: 50%; 