<!-- SMALL HEADER -->
<app-header-small></app-header-small>

<!-- ERROR POPUP -->
<div class="popup error" [ngClass]="error_msg!='' ? '' : 'hidden'">
    <img src="../../../assets/icons/alert-circle-white.svg" alt="Alerta:">
    <span class="msg">{{ error_msg!="" ? (error_msg|translate) : ''}}</span>
</div>

<!-- MAIN PAGE -->
<main class="main-admin-stats"  [ngClass]="[(hidden_options && month_cards.length == 1) ? 'more_padding' : '', (hidden_options && month_cards.length == 0) ? 'more_padding_0' : '']">
    
    <!-- TITLE -->
    <h1>
        <span class="green_word">{{'latest_home_stats'|translate}}</span>
        <br>
        <span>{{'stats_home_stats'|translate}}</span>
    </h1>

    <!-- TOTAL INFO -->
    <section class="info_total">
        <div class="separator_title">
            <h3 class="green_word">Info.</h3>
            <hr>
        </div>

        <!-- CIGAR/JOINT INFO -->
        <div class="content-info">
            <section>
                <div class="separator_title">
                    <h3>{{'your_smoked_total'|translate}}</h3>
                    <hr>
                </div>
                <div class="joints_no">

                    <div class="joints_data">
                        <div class="icon-container">
                            <img class="icon-sm" src="../../../assets/img/joint.png" alt="Joint">
                        </div>
                        <span>{{total_joints}}</span>
                    </div>

                    <div class="cigar_data">
                        <div class="icon-container">
                            <img class="icon-sm" src="../../../assets/img/cigarrete.png" alt="Cigarrete">
                        </div>
                        <span>{{total_cigarretes}}</span>
                    </div>

                </div>
            </section>

            <!-- MONEY INFO -->
            <section>
                <div class="separator_title">
                    <h3>{{'your_spent_total'|translate}}</h3>
                    <hr>
                </div>
                <div class="money_no">
                    <div class="money_data">
                        <div class="icon-container">
                            <img class="icon" *ngIf="currency=='euro'" src="../../../assets/icons/currency-euro.svg" alt="Euro">
                            <img class="icon" *ngIf="currency=='dollar'" src="../../../assets/icons/currency-dollar.svg" alt="Dollar">
                            <img class="icon" *ngIf="currency=='libra'" src="../../../assets/icons/currency-pound.svg" alt="Pound">
                        </div>
                        <span>{{ ((total_joints*joint_cost) + (total_joints*cigar_cost) + (total_joints*paper_cost)).toFixed(2) }}</span>
                    </div>

                    <div class="money_data">
                        <div class="icon-container">
                            <img class="icon" *ngIf="currency=='euro'" src="../../../assets/icons/currency-euro.svg" alt="Euro">
                            <img class="icon" *ngIf="currency=='dollar'" src="../../../assets/icons/currency-dollar.svg" alt="Dollar">
                            <img class="icon" *ngIf="currency=='libra'" src="../../../assets/icons/currency-pound.svg" alt="Pound">
                        </div>
                        <span>{{ (total_cigarretes * cigar_cost).toFixed(2) }}</span>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- FILTER CONTAINER -->
    <nav class="filter-container">
        <div class="separator_title">
            <h3 class="green_word">{{'filter'|translate}}</h3>
            <hr>
        </div>

        <!-- YEAR DROPDOWN -->
        <section class="selects">
            <div class="custom-select year">
        
                <div class="select" (click)="changeStatus(true)">
                    <div class="preview">
                        <span class="option_pre {{year_selected != '-1' && 'hidden'}}">{{'year'|translate}}</span>
                        <span *ngFor="let y of years_range; let i=index" class="option_pre {{ year_selected != y.toString() && 'hidden'}}">{{y}}</span>
                    </div>
                    <img src="../../../assets/icons/chevron-down.svg" [ngClass]="hidden_options_1 ? 'rotate' : ''" alt="chevron-down">
                </div>
            
                <div class="options year {{!hidden_options_1 && 'hidden'}}">
                    <span *ngFor="let y of years_range; let i=index" (click)="selectYear(y)" class="option_pre {{ year_selected == y.toString() && 'disable'}}">{{y}}</span>
                </div>
            </div>
    
            <!-- MONTH DROPDOWN -->
            <div class="custom-select month">
            
                <div class="select" (click)="changeStatus(false)">
                    <div class="preview">
                        <span class="option_pre {{month_selected != '-1' && 'hidden'}}">{{'month'|translate}}</span>
                        <span *ngFor="let m of months; let i=index" class="option_pre {{month_selected != 'month_'+(i+1) && 'hidden'}}">{{m|translate}}</span>
                    </div>
                    <img src="../../../assets/icons/chevron-down.svg" [ngClass]="hidden_options ? 'rotate' : ''" alt="chevron-down">
                </div>
            
                <div class="options month {{!hidden_options && 'hidden'}}">
                    <span *ngFor="let m of months; let i=index" (click)="selectMonth('month_'+(i+1))" class="option {{month_selected == 'month_'+(i+1) && 'disable'}}">{{m|translate}}</span>
                    
                </div>
            </div>
        </section>
        
    </nav>

    <!-- CARDS CONTENT -->
    <article class="months_content">
        <!-- SEPARATOR -->
        <div class="separator_title">
            <h3 class="green_word">{{'analytics'|translate}}</h3>
            <hr>
        </div>

        <!-- CARDS -->
        <section class="content">
            <h3 *ngIf="month_cards.length == 0">{{'no_records' | translate}}</h3>
            
            <div class="card" *ngFor="let mc of month_cards" routerLink="/admin/analytics/{{mc.year}}/{{mc.month.split('')[mc.month.split('').length-1]}}">
                <div class="bg bg-1"></div>
                <div class="bg bg-2"></div>
                
                <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.22683 16.9509C3.04525 16.6634 2.95446 16.5196 2.90363 16.2979C2.86546 16.1313 2.86546 15.8687 2.90363 15.7021C2.95446 15.4804 3.04525 15.3366 3.22683 15.0491C4.72737 12.6731 9.19387 6.66667 16.0005 6.66667C22.8072 6.66667 27.2737 12.6731 28.7742 15.0491C28.9558 15.3366 29.0466 15.4804 29.0974 15.7021C29.1356 15.8687 29.1356 16.1313 29.0974 16.2979C29.0466 16.5196 28.9558 16.6634 28.7742 16.9509C27.2737 19.3269 22.8072 25.3333 16.0005 25.3333C9.19387 25.3333 4.72737 19.3269 3.22683 16.9509Z" stroke="#212120" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.0005 20C18.2097 20 20.0005 18.2091 20.0005 16C20.0005 13.7909 18.2097 12 16.0005 12C13.7914 12 12.0005 13.7909 12.0005 16C12.0005 18.2091 13.7914 20 16.0005 20Z" stroke="#212120" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <!-- DATE -->
                <div class="title_info">
                    <h1>{{mc.month|translate}}</h1>
                    <h3>{{mc.year}}</h3>
                </div>

                <!-- YEAR/MONTH INFO -->
                <div class="content-info">
                    <!-- SEPARATOR -->
                    <section>
                        <div class="separator_title">
                            <h3>{{'your_smoked'|translate}}</h3>
                            <hr>
                        </div>

                        <!-- JOINT/CIGAR INFO -->
                        <div class="joints_no">
        
                            <div class="joints_data">
                                <div class="icon-container">
                                    <img class="icon-sm" src="../../../assets/img/joint.png" alt="Joint">
                                </div>
                                <span>{{mc.joints}}</span>
                            </div>
        
                            <div class="cigar_data">
                                <div class="icon-container">
                                    <img class="icon-sm" src="../../../assets/img/cigarrete.png" alt="Cigarrete">
                                </div>
                                <span>{{mc.cigarretes}}</span>
                            </div>
        
                        </div>
                    </section>
        
                    <!-- MONEY INFO -->
                    <section>
                        <div class="separator_title">
                            <h3>{{'your_spent'|translate}}</h3>
                            <hr>
                        </div>
                        <div class="money_no">
                            <div class="money_data">
                                <div class="icon-container">
                                    <img class="icon-sm" *ngIf="currency=='euro'" src="../../../assets/icons/currency-euro.svg" alt="Euro">
                                    <img class="icon-sm" *ngIf="currency=='dollar'" src="../../../assets/icons/currency-dollar.svg" alt="Dollar">
                                    <img class="icon-sm" *ngIf="currency=='libra'" src="../../../assets/icons/currency-pound.svg" alt="Pound">
                                </div>
                                <span>{{ ((mc.joints*joint_cost) + (mc.joints*cigar_cost) + (mc.joints*paper_cost)).toFixed(2) }}</span>
                            </div>
        
                            <div class="money_data">
                                <div class="icon-container">
                                    <img class="icon-sm" *ngIf="currency=='euro'" src="../../../assets/icons/currency-euro.svg" alt="Euro">
                                    <img class="icon-sm" *ngIf="currency=='dollar'" src="../../../assets/icons/currency-dollar.svg" alt="Dollar">
                                    <img class="icon-sm" *ngIf="currency=='libra'" src="../../../assets/icons/currency-pound.svg" alt="Pound">
                                </div>
                                <span>{{ (mc.cigarretes * cigar_cost).toFixed(2) }}</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </article>

    <!-- BOTTOM MENU NAVIGATION -->
    <app-navigation></app-navigation>
</main>