<!-- SMALL HEADER -->
<app-header-small></app-header-small>

<!-- POPUP -->
<div class="popup error" [ngClass]="error_msg!='' ? '' : 'hidden'">
    <img src="../../../assets/icons/alert-circle-white.svg" alt="Alerta:">
    <span class="msg">{{ error_msg!="" ? (error_msg|translate) : ''}}</span>
</div>

<!-- MAIN PAGE -->
<main class="main-admin-home">
    <!-- TITLE -->
    <h1>
        <span class="green_word">{{'latest_home_admin' | translate}}</span>
        <br>
        <span>{{'records_home_admin' | translate}}</span>
    </h1>

    <!-- CONTENT -->
    <article class="content-admin-home">
        <h3 *ngIf="oranges_displayed.length == 0">{{'no_records' | translate}}</h3>

        <!-- DAY(S) -->
        <div *ngFor="let or of oranges_displayed" class="day">
            <section class="date-container">
                <span class="date">{{or.date}}</span>
                <hr>
            </section>

            <!-- JOINT(S)/CIGAR(S) PER DAY(S) -->
            <div class="registers">
                <div class="data-container" *ngFor="let or_c of or.content">
                    <img class="icon" *ngIf="!or_c.isLight" src="../../../assets/img/joint.png" alt="Joint">
                    <img class="icon" *ngIf="or_c.isLight" src="../../../assets/img/cigarrete.png" alt="Cigarrete">
                    
                    <div class="info-data">
                        <h3 *ngIf="!or_c.isLight">{{'joint_word' | translate}}</h3>
                        <h3 *ngIf="or_c.isLight">{{'cigar_word' | translate}}</h3>
                        <p class="date_data"><span>{{ or_c.date.split(" ")[0] }}</span> <span>{{ or_c.date.split(" ")[1] }}</span></p>
                    </div>
    
                    <div class="del-container" (click)="deleteOrange(or_c._id)">
                        <img class="icon" src="../../../assets/icons/trash.svg" alt="Delete">
                    </div>
                </div>            
            </div>

        </div>

        <!-- SHOW MORE LINK -->
        <a (click)="getOranges()" *ngIf="oranges.length >= registers_per_load" class="link">{{'show_more' | translate}}</a>
    </article>

    <!-- ADD JOINT/CIGAR CONTAINER -->
    <div class="add-container"[ngClass]="toggle_dropdown ? 'active' : ''">
        <div class="add-joint" (click)="addOrange(false)">
            <img class="icon" src="../../../assets/img/joint.png" alt="Joint">
        </div>
        
        <div class="add-dropdown" (click)="toggleDropwdown(undefined)">
            <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 8L8 24M8 8L24 24" stroke="#06B26B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </div>

        <div class="add-cigar" (click)="addOrange(true)">
            <img class="icon" src="../../../assets/img/cigarrete.png" alt="Cigarrete">
        </div>
    </div>
    <app-navigation></app-navigation>
</main>