/* BASE */

html, body {
    max-width: 100%;
    width: 100%;
    position: relative;
    height: auto;
}

/* SCROLL DESIGN */
*::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #2121206a;
    border-radius: $br-sm;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: $light;
    
}

body *::-webkit-scrollbar {
    width: 4px;
}

/* OTHERS STYLES */

main.content {
    position: relative;
}

.green_word {
    color: $green;
}

.decorate {
    display: none;
    position: fixed;
    top: 50%;
    height: 400px;
    width: 70px;
    background-color: $dark;
    transform: translateY(-40%);
    border-radius: 100%;
    transition: .3s ease;
}

.decorate-right {
    right: -35px;
}

.decorate-left {
    left: -35px;
}